.inquiry-page {
  padding-top: 6vh;  /* LectureDetailPage와 동일하게 6vh로 설정 */
  font-family: 'Pretendard', sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

/* 뒤로 가기 버튼 스타일 */
.inquiry-header .back-button {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

/* 우측 더보기 아이콘 스타일 */
.inquiry-header .menu-button {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

/* 콘텐츠 구역 */
.inquiry-content {
  padding: 16px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}

