.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 335px;
  box-sizing: border-box;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 24px 0;
  color: #1a1a1a;
  margin-top: 10px;
}

.modal-text {
  font-size: 13px;
  line-height: 1.5;
  color: #1a1a1a;
  margin-bottom: 24px;
}

.modal-text p {
  margin: 12px 0;
}

.modal-confirm-button {
  width: 80px;
  padding: 11px;
  background-color: #2D68FF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 215px;
  height: 40px;
} 