.review-page-header {
  display: flex;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #E0E0E0;
  margin-top: 45px;
}

.review-page-back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 15px;
  margin-bottom: -10px;
}

.review-page-back-button img {
  width: 14px;
  height: 14px;
}

.review-page-title {
  font-size: 17px;
  color: #333;
  flex: 1;
  margin-left: 100px;
  margin-bottom: -8px;
  font-weight: 500;
}

.reviewpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewpage-review {
  margin-top: 7px;
  padding: 3px;
  width: 90%;
  border-bottom: 1px solid #E0E0E0;
  position: relative; /* 이 속성을 추가 */
}

.reviewpage-profile-image {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  margin-left: -3px;
}

/* 마지막 리뷰 항목의 하단 선 제거 */
.reviewpage-review:last-child {
  border-bottom: none;
}

.reviewpage-user-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.reviewpage-name {
  font-size: 15px;
  font-weight: 600;
  color: #216CFA;
  flex-grow: 1; /* 이 부분을 유지 */
}

.reviewpage-created-date {
  position: absolute; /* 이 속성을 추가 */
  right: 0; /* 오른쪽 끝에 고정 */
  font-size: 16px;
  color: #777;
  white-space: nowrap;
  font-weight: 300;
}

.reviewpage-course-name {
  font-size: 15px;
  color: #555;
  font-weight: 600;
  margin-left: -4px;
}

.reviewpage-rating img {
  width: 15px;
  height: 15px;
  margin-right: -30px;
  margin-left: 33px;
  margin-bottom: 20px;
  margin-top: -4px;
}

.reviewpage-review-content p {
  color: #333;
  margin-left: 35px;
  margin-top: -4px;
  font-size: 14px;
  font-weight: 300;
}
